<div class="toolbar" role="banner">
    <a href="/home"><img width="220" src="../assets/imgs/logo.png"></a>
    <div class="spacer"></div>
    <div class="media align-items-center">
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" style="color: rgb(82, 108, 189);">
                English
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Arabic</a>
            </div>
        </div>
        <span class="avatar avatar-sm rounded-circle">
            <img alt="Image placeholder" src="../assets/imgs/user.png">
        </span>
        <div class="media-body  d-none d-lg-block">
            <span class=" mr-4 text-sm text-dark font-weight-bold">Tarik Elnaggar</span>
        </div>
    </div>
</div>