<div class="container-fluid">
    <h2>Product</h2>
</div>
<div class=" container-fluid mx-2 py-2" [formGroup]="myForm" style="background-color: rgb(255, 255, 255);">
    <div class="first-section">
        <div class="form-group">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="cyan" class="bi bi-files"
                viewBox="0 0 16 16">
                <path
                    d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z" />
            </svg>&nbsp;
            <label style="color:rgb(43, 57, 101);">Basic Information</label>
            <hr class="solid" style="margin-top: -3px;">
        </div>
        <div class="form-group row">
            <div class="form-group col-sm-4">
                <label style="color:rgb(61, 81, 142);">Warehouse</label>
                <select class="form-control col-sm-8" formControlName="warehouse">
                    <option value="0">Select Warehouse</option>
                    <option value="1">Warehouse1</option>
                    <option value="2">Warehouse2</option>
                </select>

            </div>
            <div class="form-group col-sm-4">
                <label style="color:rgb(61, 81, 142);">Type</label>
                <select class="form-control col-sm-8" formControlName="types">
                    <option *ngFor="let type of types; let i = index" [value]="type.product">
                        {{type.product}}
                    </option>
                </select>
            </div>

            <div class="form-check col-sm-4 mt-5">
                <input class="form-check-input" type="checkbox" value="" formControlName="zeroBalance">
                <label class="form-check-label" for="defaultCheck1">
                    Show Zero Balance
                </label>
            </div>
        </div>
        <div class="form-group row">

            <div class="form-group col-sm-4">
                <label style="color:rgb(61, 81, 142);">Product Classifications</label>
                <br>
                <div class="row mt-2">
                    <div class="form-check">
                        <input name="product" formControlName="product" type="radio" [value]="1">&nbsp;
                        <label class=" form-check-label">
                            All Product
                        </label>
                    </div>
                    <div class="form-check">
                        <input name="product" formControlName="product" type="radio" [value]="0">&nbsp;
                        <label class="form-check-label">
                            Specific Product
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-6" [hidden]="myForm.controls.product.value !== 0">
                <mat-form-field class="example-chip-list" appearance="standard" class="col-sm-12">
                    <mat-label>Products</mat-label>
                    <mat-chip-list #chipList aria-label="Product selection">
                        <mat-chip *ngFor="let p of products" [selectable]="selectable" [removable]="removable"
                            (removed)="remove(p)">
                            {{p}}
                            <mat-icon matChipRemove *ngIf="removable">X</mat-icon>
                        </mat-chip>
                        <input placeholder="Select Product..." #productInput [formControl]="productCtrl"
                            [matAutocomplete]="auto" [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let f of filteredProducts | async" [value]="f">
                            {{f}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>
        <div class="container-fluid" style="text-align: right;">
            <button type="submit" class="btn btn-primary"
                style="background-color: rgb(0, 230, 230) !important; border-style: none;"
                (click)="showValues()">Search</button>
        </div>
    </div>
    <div class="second-section">
        <svg xmlns=" http://www.w3.org/2000/svg" width="16" height="16" fill="cyan" class="bi bi-files"
            viewBox="0 0 16 16">
            <path
                d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z" />
        </svg>&nbsp;
        <label style="color:rgb(43, 57, 101);">Product Details</label>
        <hr class="solid" style="margin-top: -3px;">



        <div class="example-container mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource">


                <ng-container matColumnDef="product">
                    <mat-header-cell *matHeaderCellDef> Product </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.product}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="quantity">
                    <mat-header-cell *matHeaderCellDef> On Hand Quantity </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.quantity}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of products"></mat-paginator>

        </div>

    </div>
</div>